<<<<<<< HEAD

=======
/* .home-auth{
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    border: 2px solid;
    margin-left: 30vw;
    flex-wrap: wrap;
    

} */
>>>>>>> 2a3bee9dd7a55e0468b9bb9dd5322b7c01afb004
.home-auth{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;

    flex-wrap: wrap;
<<<<<<< HEAD
    background-color: rgba(220, 220, 220, 0.192);
=======
>>>>>>> 2a3bee9dd7a55e0468b9bb9dd5322b7c01afb004

}
.home-auth .home-content{

<<<<<<< HEAD
    background-color: rgb(255, 255, 255);

    padding: 90px 50px 90px 50px;
    border-radius: 10px;
    box-shadow: 2px 3px 7px 1px rgba(0, 0, 0, 0.685);
   
=======



>>>>>>> 2a3bee9dd7a55e0468b9bb9dd5322b7c01afb004
   
}
.buttons-auth{
    display: flex;

<<<<<<< HEAD

 
    padding: 10px;
    border-radius: 10px;
    gap: 2rem;

    
}
.buttons-auth :nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 4px;
    height: 30px;
    width: 100%;
    background-color: white;
    border: none;
    font-weight: bolder;
    font-size: larger;
}
.buttons-auth :nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 4px;
    height: 30px;
    width: 100%;
    background-color: white;
    border: none;
    font-weight: bolder;
    font-size: larger;
}

.buttons-auth :nth-child(1):focus{
    background-color: black;
    color: white;
    font-weight: bolder;
}
.buttons-auth :nth-child(2):focus{
    background-color: black;
    color: white;
    font-weight: bolder;
=======
    justify-content: space-between;
>>>>>>> 2a3bee9dd7a55e0468b9bb9dd5322b7c01afb004
}